	<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Inicio</a></li>
								<li>
									<a href="#">Géneros</a>
									<ul>
										<li><a href="#rock">Rock</a></li>
										<li><a href="#hard">Hard Rock</a></li>
										<li><a href="#gridcore">Gridcore</a></li>
										<li><a href="#thrash">Thrash Metal</a></li>
										<li><a href="#black">Black Metal</a></li>
										<li>
											<a href="#">Heavy Metal &hellip;</a>
											<ul>
												<li><a href="#power">Power Metal</a></li>
												<li><a href="#vieja">Vieja Guardia</a></li>
												<li><a href="#speed">Speed Metal</a></li>
												<li><a href="#stoner">Stoner Metal</a></li>
											</ul>
										</li>
										
									</ul>
								</li>
								<li><a href="left-sidebar.html">Tienda Online</a></li>
								<li><a href="right-sidebar.html">Accesorios</a></li>
								<li><a href="no-sidebar.html">Contacto</a></li>
							</ul>
						</nav>